<a href="https://colab.research.google.com/github/xuanthang482/CS114.K21/blob/master/18521391.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import numpy , pandas và một số thư viện cần thiết

In [0]:
from google.colab import files
import pandas as pd
import numpy as np
from matplotlib import pyplot

load data từ url , và dùng hàm read_csv từ pandas để đọc data

In [0]:

# Load dataset
dataset = pd.read_csv('https://cs.uit.edu.vn/data.txt',names= ['size','time'])

In [4]:
dataset.head(20)

       size      time
0   4032139  1.200580
1   2055486  0.509774
2   5626651  1.476080
3     42065  0.007651
4   6297788  1.661560
5   8871407  2.653120
6   3106899  0.801168
7   2410855  0.598170
8    558704  0.129056
9   9012730  2.477870
10  6099403  1.631770
11  7189925  1.940180
12  3759151  0.978011
13  8004274  2.202210
14  4125525  1.059360
15  7580493  2.084130
16  9045670  2.461290
17  2987773  0.768997
18  2956967  0.780160
19  1941281  0.477229

import train_test_split để chia data ,và model linear regression

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

chia data theo hai tập train và validation theo tỉ lệ 8/2

In [0]:
array = dataset.values
X = array[0]
y = array[1]
X_train, X_validation, Y_train, Y_validation = train_test_split(X, y, test_size=0.20 , random_state=1)

In [0]:
X_train=X_train.reshape(-1,1)

chọn model và train data

In [9]:
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)