<a href="https://colab.research.google.com/github/xuanthang482/CS114.K21/blob/master/crawl_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
def crawl(url, data):
  r1 = requests.get(url)
  coverpage = r1.content
  soup1 = BeautifulSoup(coverpage, 'html5lib')
  coverpage_news = soup1.find_all("h2", class_="sc-759qgu-0 cYlVdn cw4lnv-6 eXwNRE")
  for i in coverpage_news:
    data.append(i.get_text())

In [4]:
url = "https://www.theonion.com/latest"
data= []
stories=''
while len(data)<1000:
  crawl(url+stories, data)
  r1 = requests.get(url+stories)
  coverpage = r1.content
  soup1 = BeautifulSoup(coverpage, 'html5lib')
  t = soup1.find_all("a", class_="sc-1out364-0 hMndXN js_link")
  stories=t[-1].get('href')

In [5]:
def crawl(url, data1):
  r1 = requests.get(url)
  coverpage = r1.content
  soup1 = BeautifulSoup(coverpage, 'html5lib')
  coverpage_news = soup1.find_all("h2", class_='sc-759qgu-0 sc-759qgu-1 kYoTly sc-3kpz0l-8 PRCbV')
  for i in coverpage_news:
    data1.append(i.get_text())

In [6]:
url = "https://www.avclub.com/latest"
data1= []
stories=''
while len(data1)<1000:
  crawl(url+stories, data1)
  r1 = requests.get(url+stories)
  coverpage = r1.content
  soup1 = BeautifulSoup(coverpage, 'html5lib')
  t = soup1.find_all("a", class_="sc-1out364-0 hMndXN js_link" )
  stories=t[-1].get('href')

In [7]:
a=[]
for i in range (1012):
  a.append(1)

In [8]:
b=[]
for i in range (1006):
  b.append(0)

In [9]:
import pandas as pd

In [10]:
df1=pd.DataFrame([data,a]).T
df1

                                                      0  1
0     White House Announces Entire U.S. Populace Of ...  1
1     Facebook Announces Plan To Break Up U.S. Gover...  1
2                  Biden Outraises Trump For First Time  1
3     Dog Owner Not Sure How City Expects Her To Pic...  1
4     Public Pressure Mounts For U.S. Government To ...  1
...                                                 ... ..
1007                                 Trump Visits India  1
1008  Desperate CDC Director Walks Down Hall Of Impr...  1
1009  U.S. Unveils Plan For Rest Of World To Become ...  1
1010  PETA Quietly Testing ‘Coronavirus Is A Living ...  1
1011  Smithsonian Museum Celebrates Black Alternate ...  1

[1012 rows x 2 columns]

In [11]:
df2=pd.DataFrame([data1,b]).T
df2

                                                      0  1
0     Eric Andre returns to his absurdist roots in n...  0
1               Eric Andre wants to Legalize Everything  0
2     Apple teases its Isaac Asimov sci-fi epic in t...  0
3     Multiple 30 Rock episodes featuring characters...  0
4     The new SpongeBob movie is heading to on-deman...  0
...                                                 ... ..
1001  Ryan Murphy is making an American Horror Story...  0
1002  Jerry Stiller’s comedy with Anne Meara deserve...  0
1003  Insecure’s Alexander Hodge on why Andrew and M...  0
1004  Help Kimmy Schmidt save the day in her fun, in...  0
1005                                                NaN  0

[1006 rows x 2 columns]

In [15]:
 df=pd.concat([df1,df2],ignore_index=True,axis=0)
 df

                                                      0  1
0     White House Announces Entire U.S. Populace Of ...  1
1     Facebook Announces Plan To Break Up U.S. Gover...  1
2                  Biden Outraises Trump For First Time  1
3     Dog Owner Not Sure How City Expects Her To Pic...  1
4     Public Pressure Mounts For U.S. Government To ...  1
...                                                 ... ..
2013  Ryan Murphy is making an American Horror Story...  0
2014  Jerry Stiller’s comedy with Anne Meara deserve...  0
2015  Insecure’s Alexander Hodge on why Andrew and M...  0
2016  Help Kimmy Schmidt save the day in her fun, in...  0
2017                                                NaN  0

[2018 rows x 2 columns]