<a href="https://colab.research.google.com/github/xuanthang482/CS114.K21/blob/master/house_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Upload data dạng file csv từ máy local ( đã tải sẵn về máy)

In [ ]:
from google.colab import files
files.upload()

import pandas để đọc file data csv

In [2]:
import pandas as pd 
data = pd.read_csv('datasets_46927_85203_data.csv')

In [3]:
#in ra số chiều của data
data.shape

(4600, 18)

In [4]:
#in ra 10 hàng đầu tiên của data 
data.head(10)

                  date      price  bedrooms  ...          city  statezip  country
0  2014-05-02 00:00:00   313000.0       3.0  ...     Shoreline  WA 98133      USA
1  2014-05-02 00:00:00  2384000.0       5.0  ...       Seattle  WA 98119      USA
2  2014-05-02 00:00:00   342000.0       3.0  ...          Kent  WA 98042      USA
3  2014-05-02 00:00:00   420000.0       3.0  ...      Bellevue  WA 98008      USA
4  2014-05-02 00:00:00   550000.0       4.0  ...       Redmond  WA 98052      USA
5  2014-05-02 00:00:00   490000.0       2.0  ...       Seattle  WA 98115      USA
6  2014-05-02 00:00:00   335000.0       2.0  ...       Redmond  WA 98052      USA
7  2014-05-02 00:00:00   482000.0       4.0  ...  Maple Valley  WA 98038      USA
8  2014-05-02 00:00:00   452500.0       3.0  ...    North Bend  WA 98045      USA
9  2014-05-02 00:00:00   640000.0       4.0  ...       Seattle  WA 98115      USA

[10 rows x 18 columns]

In [5]:
#lấy tên các cột data để chọn lọc
data.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

vì data có nhiều feature nên em chọn ra một số cột có số liệu theo em là ảnh hưởng nhiều đến giá nhà như:



*   sqrt_living: diện tích phòng khách
*   sqrt_lot: tổng diện tích 
*   bedroom: số phòng ngủ 
*   bathroom: số phòng tắm
*   floors : số tầng 
*   view : số mặt tiền 
*   yr_built: năm xây dựng

In [6]:
names = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'view', 'sqft_basement', 'yr_built']
features= data[names]       
labels= data['price']       
labels

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64

In [7]:
#imporrt model , hàm chia data , tính sai số 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [8]:
#chia data train/test theo tỉ lệ 0.75/0.25
x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.25)

In [9]:
#fit model
model = LinearRegression() 
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
pred = model.predict(x_test)

Evaluete model : em dùng mean absolute error để đánh giá

In [11]:
print('mean absolute error:', mean_absolute_error(y_test, pred))

mean absolute error: 163352.05899099904