<a href="https://colab.research.google.com/github/xuanthang482/CS114.K21/blob/master/Untitled23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup

In [4]:
def crawl(url, data):
  r1 = requests.get(url)
  coverpage = r1.content
  soup1 = BeautifulSoup(coverpage, 'html5lib')
  coverpage_news = soup1.find_all("h2", class_="sc-759qgu-0 cYlVdn cw4lnv-6 eXwNRE")
  for i in coverpage_news:
    data.append(i.get_text())

In [5]:
url = "https://www.theonion.com/latest"
data= []
stories=''
while len(data)<1000:
  crawl(url+stories, data)
  r1 = requests.get(url+stories)
  coverpage = r1.content
  soup1 = BeautifulSoup(coverpage, 'html5lib')
  t = soup1.find_all("a", class_="sc-1out364-0 hMndXN js_link")
  stories=t[-1].get('href')

In [15]:
a=[]
for i in range (1012):
  a.append(1)

In [16]:
b=[]
for i in range (1000):
  b.append(0)

In [17]:
import pandas as pd

In [19]:
df1=pd.DataFrame([data,a]).T
df1.columns=['headline','label']
df1

                                               headline label
0          The Week In Pictures – Week Of June 22, 2020     1
1     Congress Announces Willingness To Give Black L...     1
2     Mental Health Experts Advise On Best Ways To C...     1
3     The Onion’s Father’s Day Gift Guide For The Da...     1
4     Staples Center Employee Realizes He Left Shot ...     1
...                                                 ...   ...
1007  Concerned Baby Starting To Worry Lethargic, Di...     1
1008   The Week In Pictures – Week Of February 24, 2020     1
1009             Forever 21 Bought Following Bankruptcy     1
1010  Trump Administration Rolls Back Hunting Regula...     1
1011  Pete Alonso Asks Teammates Whether They’d All ...     1

[1012 rows x 2 columns]